<p>
ChangeDetection default:
<app-a> </app-a>
<p>
<p>
ChangeDetection onpush:
<app-b [dataForB]="dataForB"> </app-b>
<button (click)="changeB()"> change input property </button>
<p>

<div>
  <a routerLink="lazy/l">Go to lazy loaded component</a>
</div>
<div>
  <a routerLink="">Go to root</a>
</div>
<router-outlet></router-outlet>
